/*body {
    padding-top: 70px;
}*/
/*@media (min-width: 468px) {
.container{
    width: 470px;
}
.navbar li{
        display: inline-block;
        padding-left: 30px;
        font-size: 1em;
        color: rgb(51, 51, 51);
        margin-left: auto;
        margin-right: auto;

}
}
@media (min-width: 599px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  float: none;/*permet de centrer le menu*/

}
.navbar {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border: 0px;
    text-align: center; /*permet de centrer le menu*/
}

.navbar li {
    display: inline-block;
    padding-left: 30px;
    font-size: 1.3em;
    color: rgb(51, 51, 51);
    margin-left: auto;
    margin-right: auto;

}
.navbar a {
    text-decoration: none;
    list-style-type: none;
    color:rgb(88, 88, 88);
}
.navbar a:hover {
    color:rgb(244, 111, 27);
}

.button{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#menu2 {
    margin-left: auto;
    margin-right: auto; /*ici j'ai centré le bloc menu2 et mis % de taille*/
    width: 80%;
    background-color: white;
    font-size: 1.3em;
    border-radius: 30px;
}

.btn-block { /*ici color des btn*/
    background-color: rgb(3, 130, 143);
    border-color: rgb(7, 113, 142);
}

.btn-block a {

    color:white;
}
.btn-block a:hover {

    color:rgb(244, 111, 27);
}

#logo {
    margin-left: -10px;
}

h3 {
    color: rgb(80, 80, 80);
    text-decoration: none;
}
.html5left{
    margin-right: 0;
}
.html5right{
    margin-left: 0;
}

span {
    color: rgb(240, 94, 23);
}

#table {
    margin-top: 20px;
}
tbody th {
    background-color:rgb(245, 245, 245);
    font-size: 15px;
}
.container img {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;

}

.danger {
    color: rgb(235, 89, 18);
}
#icone-haut img{
    float: right;
}
